</body>
<footer class="mt-12">
  <section id="contact-section" class="font-mono" style="background: #2a2a2a">
    <div class="flex flex-col pt-5">
      <h1 class="text-center"> <i>Contact Us</i></h1>
      <div class="flex flex-row justify-between mb-3 pt-16 px-64">
        <div class="flex flex-col items-center">
          <i class="fas fa-mobile-alt fa-5x block mb-8 mt-3"></i>
          <ul class="mb-2">
            <li class="mb-2"></i>9519809296</li>
            <li class="mb-2"></i>7393270676</li>
          
          </ul>
        </div>
        <div class="flex flex-col items-center">
          <i class="fas fa-envelope fa-5x block mb-8 mt-3"></i>
          <ul class="pl-4 mb-5">
            <li class="mb-2"></li></i>dheerendra.kumar2019@vitbhopal.ac.in</li>
            <li class="mb-2"></li></i>kdheerendra151@gmail.com</li>
           
          </ul>
        </div>
      </div>
      <p class="text-center"><i class="fas fa-map-marker-alt"></i> Vellore Institute of Technology, Bhopal </p>
      <p class="text-center">Madhya Pradesh, India</p>
    </div>
    <div id="contact-form" class="flex flex-col items-center pt-5">
      <h1 class="mb-5 text-center">Write your <i>queries/feedback</i> to us</h1>
      <form action="/contact" method="post" class="mt-6">
        <input type="text" name="name" id="contact-name" placeholder="Name" class="mb-5 pb-3 pl-2 border-b-4 border-b-violet-500 w-80 mx-auto" autocomplete="off">
        <input type="email" name="email" id="contact-email" placeholder="Email" class="mb-5 p-2 border-b-4 border-b-violet-500 w-80 mx-auto" autocomplete="off">
        <textarea name="message" id="contact-message" placeholder="Message" style="resize: none; width: 40rem; min-height: 10rem;" class="my-6 p-2 rounded border-2 border-gray-500 focus:border-violet-500"></textarea>
        <button class="font-mono secondary-button ml-60 mb-8">Submit</button>
      </form>
      <script src="./public/contact.js"></script>
    </div>
  </section>
</footer>
</html>